<!-- <!DOCTYPE html>
<html lang="en"> -->
    {% extends 'userindex.html' %}
    {% block content %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0d6c6c5ca8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-xxl py-5" id="joblist">
        <div class="container">
            <div class="d-flex justify-content-between  ">
                <h1 class="text-center mb-5 wow fadeInUp " data-wow-delay="0.1s">Applied Jobs</h1>
                <div class="d-flex justify-content-around ">
               
                </div>
            </div>
            {% for i in data %}
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <div class="text-start ps-4">
                                        <p class="mb-3">Date: {{i.application_date}}<p>
                                        <h6 class="mb-3">Job Name : {{i.job.job_name}}</h6>
                                        <h6>Company Name : {{i.job.company_id.companyname}}</h6>
                                        <p>Description : {{i.job.job_description}}</p>
                                        <span class="text-truncate me-3"><i class="fa-solid fa-envelope text-success me-2"></i>{{i.job.company_id.email}}</span>
                                        <span class="text-truncate me-3"><i class="fa-solid fa-phone text-success me-2"></i>{{i.job.company_id.contact}}</span>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{i.job.company_id.address}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        {% if i.status == "pending" %}
                                        <h6 class="text-primary ">{{i.status}}</h6>
                                        {% elif i.status == "Accepted" %}
                                        <h6 class="text-success ">{{i.status}}</h6>
                                        <!-- <a href="" class="btn btn-success " style="margin-left: 10px;">Feedback</a> -->
                                        {% else %}
                                        <h6 class="text-danger ">{{i.status}}</h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
<!-- </html> -->